/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */



header div.header1{
	/* background-color: aquamarine; */
	padding-bottom: 2%;
	display: block;
}

nav {
	display: inline;
	margin-left: 7%;

  }
  
header nav a {
	margin-left: 1%;
	font-size: 15px;
	color: grey;
	display: inline;
	padding-right: 5%;
	text-decoration: none;
  }
.logo {
	display: inline-block;
	margin-left: 15%;
	margin-right: 10%;
	padding-top: 1%;
	/* background-color: yellow; */
	margin-top: 2%;
}

header div.board {
	/* background-color: tomato; */
	display: inline-block;
	margin-left: 10%;
	margin-bottom:5%;
	width: 35%;
}

header div.main{
	display: block;
	/* background-color: aqua; */
}
.circle {
	display: inline-block;
	padding: 3% 0% 0% 10%;
}
div.main {
	display: block;
	text-align: center;
}

.button {
	display: inline-block;
	width: 50%;
	height: 30%;
	border: 1px solid black;
	padding: 2%;
	color: black;
	text-decoration: none;
}

h2 {
	font-size: 80px;
}
.main h2{
	display: block;
	/* background-color: blue; */
	text-align: center;
}
body content.block1{
	/* background-color: orange; */
	display: block;
	padding-left: 5%;
}
body content.features{
	/* color: red; */
	display: inline-block;
	width: 44%;
	margin: 2%;
}
body content.about{
	/* color: blue; */
	display: inline-block;
	width: 44%;
	margin-left: 0.5%;
}
.middle-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 86%;
}
content.block2{
	/* background-color: purple; */
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5.2%;
}
content.services{
	/* color: yellow; */
	display: inline-block;
	width: 28%;
	margin: 2% 2% 2% 2%;
}
content.product{
	/* color: green; */
	display: inline-block;
	width: 28%;
	margin-right: 3%;
	margin-left: 1%;
}
content.vision{
	/* color: blue; */
	display: inline-block;
	width: 28%;
	}


footer content{
	padding-left: 7%;
	padding-top: 2%;
	display: block;
	/* background-color: rgb(121, 119, 161); */
}
footer content.copyright p {
	display: block;
	/* background-color: red; */
	margin-left: 40%;
	margin-right: 40%;
}
hr {
	width: 86.3%;
	size: 1;
	color: black;
}